body{
    background: #f1f1f1;
}

.btnSuccess{
    background-color: rgb(47, 255, 75) !important;
}



.btnClose{
    background-color: rgb(245, 83, 55) !important;
}

.green{
    background-color: rgb(15, 238, 115);
}

.red {
    background-color: rgb(235, 43, 10);
}